footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 15px;
    bottom: 0;
    position: fixed;
}

footer img {
    float: left;
    margin-left: 100px;
    margin-top: 2px;
}

#fot ul {
    text-decoration: none;
}

#fot li {
    text-decoration: none;
    list-style: none;
}

#fot {
    margin-right: 100px;
    margin-top: 15px;
    text-align: right;
}
